// ---------------------------------------------
//  Fonts
//   1. Custom fonts classes
// ---------------------------------------------
@font-face {
  font-family: DoppioOne;
  src: url('../fonts/DoppioOne-Regular.ttf') format('truetype');
  font-weight: 100 900; /* Defines the weight range */
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* Defines the weight range */
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DoppioOne, sans-serif;
}
